body {background-color: powderblue;}
h1   {color: blue;}
a    {color: red;}

#right{
    position:absolute;
    right:100px;
}

#left{
    position:absolute;
    left:100px;
}

#left_bottom{
    position:absolute;
    left:150px;
    top:1125px;
}

#center{
    position: absolute;
    left:40%;
}

#pdf_download_text{
    position: absolute;
    top:1075px;
    left:160px;
}


