body {background-color: rgb(137, 240, 137);}
h1   {color: rgb(5, 51, 51);}
a    {color: red;}

#right{
    position:absolute;
    right:100px;
}

#left{
    position:absolute;
    left:100px;
    font-size:30px;
}

#left_bottom{
    position:absolute;
    left:150px;
    top:800px;
}

#center{
    position: absolute;
    left:40%;
}

#pdf_download_text{
    position: absolute;
    top:1075px;
    left:160px;
}


